@media all and (min-width : 941px){ 

    #containerFlex {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
        padding: 16px;
    }
    
    #containerFlex > div {
        width: calc(24% - 8px); 
        margin-bottom: 8px; 
    }
    
    #containerFlex > div > img {
        width: 100%; 
        height: auto; 
    }



    /*SECCION BARRA DE NAVEGACION */
        .nav-enlace{
            display: inline-block;
            background: salmon;
            color: #fff;
            padding: 10px 30px;
            text-decoration: none;
        }
    
    } 