@media all and (min-width : 641px) and (max-width : 940px){ 
/*SECCION BARRA DE NAVEGACION */
    .nav-enlace{
        display: inline-block;
        background: salmon;
        color: #fff;
        padding: 10px 30px;
        text-decoration: none;
    }

} 