@media all and (min-width : 641px) and (max-width : 940px){
    #containerGrid{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto;
        width: 100%;
        height: 100%;
    }
    
    #containerGrid > div > img{
        width: 100%;
        height: 100%;
    }
    
    #containerGrid > div{
        width: 100%;
        height: auto;
    }
    
/* NAVEGACION */
.nav-enlace{
    display: inline-block;
    background: salmon;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
}
}